<h1 mat-dialog-title>
    <ng-container i18n>Add Strategy</ng-container>
    <mat-icon *ngIf="disabled">
        <mat-spinner color="accent" diameter='32'></mat-spinner>
    </mat-icon>
</h1>

<form #viewForm="ngForm">

    <div mat-dialog-content class="dialog-form-view">
        <div>
            <mat-form-field>
                <mat-label i18n>Name</mat-label>
                <input matInput [disabled]="disabled" readonly="true" required [(ngModel)]="strategy.name" name="name">
                <mat-error i18n>Name Invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Strategy Value</mat-label>
                <input type="number" matInput cdkFocusInitial [disabled]="disabled" required
                    [(ngModel)]="strategy.value" name="value">
                <mat-error i18n>Strategy Value Invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select [disabled]="disabled" required [(ngModel)]="group" name="group">
                    <mat-option value="Host">Host</mat-option>
                    <mat-option value="Proxy">Proxy</mat-option>
                    <mat-option value="Direct">Direct</mat-option>
                    <mat-option value="Block">Block</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <ng-container [ngSwitch]="group">
            <ng-template [ngSwitchCase]="'Host'">
                <div i18n>Host Description</div>
                <mat-form-field class="full-width">
                    <mat-label>Host</mat-label>
                    <textarea matInput name="host" [disabled]="disabled" rows="15" spellcheck="false"
                        autocapitalize="off" autocomplete="off" autocorrect="off"
                        [(ngModel)]="strategy.host"></textarea>
                </mat-form-field>
            </ng-template>
            <ng-template [ngSwitchCase]="'Proxy'">
                <div i18n>Proxy Description</div>
                <strategy-value [disabled]="disabled" [value]="strategy.proxy"></strategy-value>
            </ng-template>
            <ng-template [ngSwitchCase]="'Direct'">
                <div i18n>Direct Description</div>
                <strategy-value [disabled]="disabled" [value]="strategy.direct"></strategy-value>
            </ng-template>
            <ng-template [ngSwitchCase]="'Block'">
                <div i18n>Block Description</div>
                <strategy-value [disabled]="disabled" [value]="strategy.block"></strategy-value>
            </ng-template>
        </ng-container>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-stroked-button i18n [disabled]="disabled || viewForm.invalid"
            (click)="onSave()">Submit</button>
        <button type="button" mat-stroked-button i18n [disabled]="disabled" (click)="onClose()">Close</button>
    </div>
</form>