# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/
/version/version.go
*.tar.gz

/v2ray-web
/v2ray-webd
/bin/v2ray-web