# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/
/static/view/
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.db.lock
*.tmp
*.sha256

/v2ray-web
/v2ray-webd
/bin/v2ray-web
/bin/v2ray-web.db
/bin/view/
/bin/v2ray-web-service.exe

# statik
/assets/
/static/3rdpartylicenses.txt