/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-toaster/toaster.min.css";

.full-width{
  width: 100%;
}
