<h1 mat-dialog-title>
    <ng-container i18n>Change Password</ng-container>
    <mat-icon *ngIf="disabled">
        <mat-spinner color="accent" diameter='32'></mat-spinner>
    </mat-icon>
</h1>

<form #viewForm="ngForm">

    <div mat-dialog-content class="dialog-form-view">
        <div>
            {{name}}
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label i18n>password</mat-label>
                <input matInput [disabled]="disabled" cdkFocusInitial required minlength="1" [(ngModel)]="password"
                    name="password">
                <mat-error i18n>Password Invalid</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-stroked-button i18n [disabled]="disabled || viewForm.invalid"
            (click)="onSave()">Submit</button>
        <button type="button" mat-stroked-button i18n [disabled]="disabled" (click)="onClose()">Close</button>
    </div>
</form>