<shared-navigation-bar></shared-navigation-bar>
<div class="router">
  <router-outlet></router-outlet>
  <toaster-container [toasterconfig]="config"></toaster-container>
</div>
<div #xi18n style="display: none;">
  <div data-key="error" i18n>Error</div>
  <div data-key="success" i18n>Success</div>
  <div data-key="delete user title" i18n>delete user title</div>
  <div data-key="delete user" i18n>delete user</div>
  <div data-key="user added successfully" i18n>user added successfully</div>
  <div data-key="user has been deleted" i18n>user has been deleted</div>
  <div data-key="password reset complete" i18n>password reset complete</div>
  <div data-key="data saved" i18n>data saved</div>
  <div data-key="test success" i18n>test success</div>
  <div data-key="subscription added successfully" i18n>subscription added successfully</div>
  <div data-key="delete subscription title" i18n>delete subscription title</div>
  <div data-key="delete subscription" i18n>delete subscription</div>
  <div data-key="subscription has been deleted" i18n>subscription has been deleted</div>
  <div data-key="subscription reset complete" i18n>subscription reset complete</div>
  <div data-key="proxy element added successfully" i18n>proxy element added successfully</div>
  <div data-key="proxy element put successfully" i18n>proxy element put successfully</div>
  <div data-key="delete proxy element title" i18n>delete proxy element title</div>
  <div data-key="delete proxy element" i18n>delete proxy element</div>
  <div data-key="proxy element has been deleted" i18n>proxy element has been deleted</div>
  <div data-key="clear proxy element title" i18n>clear proxy element title</div>
  <div data-key="clear proxy element" i18n>clear proxy element</div>
  <div data-key="proxy element has been cleared" i18n>proxy element has been cleared</div>
  <div data-key="proxy element has been updated" i18n>proxy element has been updated</div>
  <div data-key="proxy element has been started" i18n>proxy element has been started</div>
  <div data-key="proxy element has been stopped" i18n>proxy element has been stopped</div>
  <div data-key="test speed success" i18n>test speed success</div>
  <div data-key="iptables has been init" i18n>iptables has been init</div>
  <div data-key="iptables has been restore" i18n>iptables has been restore</div>
  <div data-key="data copied" i18n>data copied</div>
</div>