<button #btnClipboard class="hide" data-clipboard-text="">copy</button>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-container *ngIf="panel.id==0;then manualName;else autoName"></ng-container>
            <ng-template #manualName>
                <ng-container i18n>Manual Element</ng-container>
            </ng-template>
            <ng-template #autoName>
                {{panel.name}}
            </ng-template>
            - {{panel.source.length}}

            <mat-icon *ngIf="isSubscription" color="accent">done</mat-icon>
        </mat-panel-title>

    </mat-expansion-panel-header>
    <button mat-icon-button i18n-matTooltip matTooltip="Sort" (click)="onClickSort()"
        [disabled]="disabled || !panel.source.length || panel.source.length<2">
        <mat-icon>sort</mat-icon>
    </button>
    <button mat-icon-button i18n-matTooltip matTooltip="test speed" (click)="onClickTest()"
        [disabled]="disabled || !panel.source.length">
        <mat-icon>network_check</mat-icon>
    </button>
    <button mat-icon-button i18n-matTooltip matTooltip="add element" (click)="onClickAdd()" [disabled]="disabled">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button i18n-matTooltip matTooltip="clear element" (click)="onClickClear()"
        [disabled]="disabled || !panel.source.length">
        <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button *ngIf="panel.id!=0" i18n-matTooltip matTooltip="update subscription"
        (click)="onClickUpdate()" [disabled]="disabled">
        <mat-icon>update</mat-icon>
    </button>
    <mat-list>
        <mat-list-item *ngFor="let item of panel.source">
            <mat-icon matListIcon [color]="isCurrent(item)?'accent':''">{{getIcon(item)}}</mat-icon>

            <p matLine>{{item.outbound.name}}</p>
            <p matLine>{{item.outbound.net}} {{item.outbound.tls}} {{item.outbound.add}}:{{item.outbound.port}}</p>
            <p matLine>{{item.error}} {{item.duration}}</p>


            <ng-container *ngIf="isCurrent(item);then startedView;else stoppedView"></ng-container>
            <ng-template #startedView>
                <button mat-icon-button i18n-matTooltip matTooltip="stop" (click)="onClickStop(item)"
                    [disabled]="disabled">
                    <mat-icon>stop</mat-icon>
                </button>
            </ng-template>
            <ng-template #stoppedView>
                <button mat-icon-button i18n-matTooltip matTooltip="start" (click)="onClickStart(item)"
                    [disabled]="disabled">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </ng-template>

            <mat-spinner color="accent" diameter='28' *ngIf="item.request"></mat-spinner>
            <button mat-icon-button i18n-matTooltip matTooltip="Menu Tooltip" [matMenuTriggerFor]="menu"
                [disabled]="disabled">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onClickTestOne(item)" [disabled]="disabled">
                    <mat-icon>network_check</mat-icon>
                    <ng-container i18n>test speed</ng-container>
                </button>
                <button mat-menu-item (click)="onClickShare(item)" [disabled]="disabled">
                    <mat-icon>share</mat-icon>
                    <ng-container i18n>Share QR Code</ng-container>
                </button>
                <button mat-menu-item (click)="onClickCopy(item)" [disabled]="disabled">
                    <mat-icon>file_copy</mat-icon>
                    <ng-container i18n>Copy Link</ng-container>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onClickSetIPTables(item)" [disabled]="disabled">
                    <mat-icon>whatshot</mat-icon>
                    <ng-container i18n>set iptables</ng-container>
                </button>
                <button mat-menu-item (click)="onClickRestoreIPTables(item)" [disabled]="disabled">
                    <mat-icon>restore_page</mat-icon>
                    <ng-container i18n>restore iptables</ng-container>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onClickEdit(item)" [disabled]="disabled">
                    <mat-icon>create</mat-icon>
                    <ng-container i18n>edit</ng-container>
                </button>
                <button mat-menu-item (click)="onClickDelete(item)" [disabled]="disabled">
                    <mat-icon>delete</mat-icon>
                    <ng-container i18n>delete</ng-container>
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>