<ng-container *ngIf="ready;then readyView;else notReadyView"></ng-container>
<ng-template #notReadyView>
    <div>
        <p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </p>
        <p>
            <ng-container i18n>connecting to server, please wait...</ng-container>
        </p>
    </div>
</ng-template>
<ng-template #readyView>
    <ng-container *ngIf="err;then errView;else okView"></ng-container>
</ng-template>
<ng-template #errView>
    <p>
        {{err}}
    </p>
    <button mat-stroked-button color="primary" i18n (click)="load()">Refresh</button>

</ng-template>
<ng-template #okView>
    <app-top></app-top>
    <p>
        <mat-accordion>
            <app-view-panel *ngFor="let panel of source.items" [panel]="panel"></app-view-panel>
        </mat-accordion>
    </p>
</ng-template>