<mat-form-field class="full-width">
    <mat-label>Domain</mat-label>
    <textarea matInput name="domain" [disabled]="disabled" rows="8" spellcheck="false" autocapitalize="off"
        autocomplete="off" autocorrect="off" [(ngModel)]="value.domain"></textarea>
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>IP</mat-label>
    <textarea matInput name="ip" [disabled]="disabled" rows="8" spellcheck="false" autocapitalize="off"
        autocomplete="off" autocorrect="off" [(ngModel)]="value.ip"></textarea>
</mat-form-field>