<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-container *ngIf="status.run;then startedView;else stopedView"></ng-container>
            <ng-template #startedView>
                <mat-icon>bug_report</mat-icon>
                <ng-container i18n>service has started</ng-container>
                <mat-icon mat-icon-button i18n-matTooltip matTooltip="stop" (click)="onClickStop($event)">stop
                </mat-icon>
                {{status.name}}
                <mat-icon>flag</mat-icon>

                {{status.strategy}}
            </ng-template>
            <ng-template #stopedView>
                <mat-icon>bug_report</mat-icon>
                <ng-container i18n>service has stopped</ng-container>
            </ng-template>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div #xterm></div>
</mat-expansion-panel>